:root {
  --body: rgb(255, 255, 255);
  --body-back: rgb(22, 22, 22);
  --body-transp: rgba(255, 255, 255, 0);

  --banner-color: rgb(238, 238, 238);
  --banner-back: rgba(31, 31, 31, 0.5);
  --banner-border: rgb(167, 167, 167);

  --link: rgb(255, 255, 255);
  --link-hover: rgb(247, 95, 143);

  --title-back: rgba(31, 31, 31, 0.6);
  --title-border: rgb(0, 0, 0);
  --title-color1: rgb(247, 95, 143);
  --title-color2: rgb(255, 255, 0);
  --title-color3: rgb(206, 145, 120);
  --title-color4: rgb(152, 220, 254);

  --card-back: rgba(31, 31, 31, 0.6);
  --card-border: rgb(0, 0, 0);
  --card-dot: rgb(173, 255, 47);
  
  --card-color1: rgb(152, 220, 254);
  --card-color2: rgb(247, 95, 143);
  --card-color3: rgb(206, 145, 120);
  --card-color4: rgb(255, 255, 0);
  --card-color5: rgb(235, 235, 235);

  --project-shadow: rgba(255, 255, 255, 0.2);
  --project-border: rgb(58, 58, 58);
  --project-color1: rgb(17, 17, 17);
  --project-color2: rgb(14, 14, 14);
  --project-color3: rgb(50, 30, 40);
  --project-color4: rgb(206, 145, 120);

  --social-color1: rgb(12, 39, 55);
  --social-color2: rgb(158, 67, 250);
  --social-color3: rgb(255, 1, 0);
  --social-color4: rgb(2, 123, 189);
  --social-color5: rgb(255, 255, 255);

  --footer: #00e1ff;
  --footer-back: rgb(102, 102, 102);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

body {
  color: var(--body);
  background-color: var(--body-back);
}

a {
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}

a:hover {
  color: var(--link-hover);
}

@media (max-width: 767.98px) {
  html {
    font-size: 14px;
  }  
}