:root {
  --link: red;
  --link-back: blue;

  --card-back: rgb(31, 31, 31);
  --card-border: rgb(0, 0, 0);
  --card-dot: rgb(173, 255, 47);
  --card-color1: rgb(152, 220, 254);
  --card-color2: rgb(218, 112, 214);
  --card-color3: rgb(206, 145, 120);
  --card-color4: yellow;
  --card-color5: rgb(235, 235, 235);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
