.main {
  margin: 0.5rem;
}

.img {
  z-index: -1;
  object-fit: cover;
  object-position: left bottom;
  filter: blur(10px);
}

.banner {
  padding-top: 3rem;
  
}

.code {
  padding-top: 1rem;
}

.projects {
  margin-top: 1rem;
}