.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.banner {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.banner > div {
  display: flex;
  gap: 1rem;
  background-color: var(--banner-back);
  padding: 0.5rem;
  border-radius: 4px;
}

.banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.txt {
  font-size: 1.8rem;
  color: var(--banner-color);
  filter: drop-shadow(0 0 0.75rem var(--banner-back));
}

.img {
  object-fit: cover;
  object-position: 0 25%;
  border-radius: 50%;
  border: solid 1px var(--banner-border);
}