.section {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  /* background-color: rgba(255, 255, 255, 0.05); */
}

.section a {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}