.seccion {
  padding-top: 1rem;
  color: var(--footer);
  background-color: var(--footer-back);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100% , 12rem), 1fr));
}

.seccion div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.seccion p {
  font-size: 1.1rem;
  color: var(--color04);
}
