.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--banner-back);
  backdrop-filter: blur(8px);
}

.links {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  margin: 0.5rem
}