.section {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--title-back);
  border: 1px solid var(--title-border);
  border-radius: 15px;
  max-width: 50rem;
  backdrop-filter: blur(8px);
  margin: auto;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
}

.color1 {
  color: var(--title-color1);
}

.color2 {
  color: var(--title-color2);
}

.color3 {
  color: var(--title-color3);
}

.color4 {
  color: var(--title-color4);
}
